:root {
  --fuentePrincipal: 'Roboto', sans-serif;;
  --fuenteSecundaria: 'Lato', sans-serif;
}

section#header {
  display: flex;
  align-items: center;
  font-family: var(--fuenteSecundaria);
}

#header div.headers {
  margin: 0 5em;
}

#header div.logo {
  margin-left: 0;
}

.logo img {
  height: 70px;
  width: 90px;
}

div.categorias {
  display: flex;
}

.categorias span {

}

.categorias p {
  margin: 0;
}

div.buscar {

}

.buscar input {

}

.buscar span {

}

div.instructor {

}

.instructor p {

}

div.cursos {

}

div.cursos p {

}

div.botones {

}

.botones span {

}


