:root {
  --fuentePrincipal: 'Roboto', sans-serif;
  --fuenteSecundaria: 'Lato', sans-serif;
  --colorPrimario: #1A00FF;
}

section#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--fuenteSecundaria);
  font-size: 1.2em;
}

#header div.headers {
}

#header div.logo {
  margin-left: 0;
}

.logo img {
  height: 70px;
  width: 90px;
}

div.categorias {
  display: flex;
  margin-left: .5em;
  font-family: var(--fuentePrincipal);
}

.categorias span {
  margin-right: .7em;
}

.categorias p {
  margin: 0;
}

div.headers .buscar {
  margin: 0;
}

.buscar input {
  font-family: var(--fuentePrincipal);
  padding: 1em 5em;
  font-size: .7em;
}

.buscar span {

}

div.instructor {
  
}

.instructor span {
  margin-left: .4em;
}

.instructor p {
}

div.cursos {

}

div.cursos p {

}

div.botones {

}

.botones span {
  padding: .3em;
}

section#hero {
  background-color: #fdfdfdd5;
}

#hero div#titulos {
  text-align: center;
  font-family: var(--fuentePrincipal);
  font-size: 1.2em;
  margin: 5em;
  margin-bottom: 0;
}

#titulos div.titulos {
}

.titulos p:nth-of-type(1) {
  font-size: 2em;
  margin-bottom: 0;
  color: var(--colorPrimario);
}


.titulos p:nth-of-type(2) {
  font-style: italic;
}


section#hero div.cursos {
  display: flex;
  text-align: center;

}

.cursos .cursitos {
  flex: 1;
  font-family: var(--fuentePrincipal);
  font-size: 1em;
}

.cursitos button {
  padding: .8em 2.5em;
  border-radius: 30px;
  background-color: var(--colorPrimario);
  color: white;
  font-size: 1.1em;
}

.cursitos button:hover {
  background-color: black;
  color: white;
  transition: .6s;
}

.cursos img {
  width: 300px;
  height: 180px;
  border-radius: 10px;
}

.cursos div.curso-1 {

}

.curso-1 img {

}

.curso-1 p {
}

div.curso-2 {

}

.curso-2 img {

}

.curso-2 p {

}

div.curso-3 {

}

.curso-3 img {

}

.curso-3 p {

}

.botones span:hover {
  color: var(--colorPrimario);
  transition: 1s;
}


section.buy {
  display: flex;
  margin-top: 4em;
  flex-wrap: wrap;
}

.buy div.titulos-2 {
  
}

.titulos-2 div.titles {

}

.titles p {

}

div.titulos-principales-2 {
  display: block;
}

.titulos-principales-2 div.titulos-2 {
}

div.compras {
  flex: 1;
  box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.23);
  margin: 0 1em;
  text-align: center;
  height: 400px;
}

.compras img {
  width: 100%;
  height: 180px;
  text-align: start;
}

.compras p {
  font-family: var(--fuentePrincipal);
  font-size: .9em;
}

.compras img.stars {
  width: 120px;
  height: 20px;
}

.compras p.precios {
  font-size: 1.2em;
}

.compras button {
  padding: .8em 2em;
  font-size: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.compras button:hover {
  background-color: var(--colorPrimario);
}

div.compra-cursos-1 {

}


div.compra-cursos-2 {

}

div.compra-cursos-3 {

}


div.compra-cursos-4 {

}

div.compra-cursos-5 {

}

