:root {
  --fuentePrincipal: 'Roboto', sans-serif;
  --fuenteSecundaria: 'Lato', sans-serif;
  --colorPrimario: #1A00FF;
}

section#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--fuenteSecundaria);
  font-size: 1.2em;
}

#header div.headers {
}

#header div.logo {
  margin-left: 0;
}

.logo img {
  height: 70px;
  width: 90px;
}

div.categorias {
  display: flex;
  margin-left: .5em;
  font-family: var(--fuentePrincipal);
}

.categorias span {
  margin-right: .7em;
}

.categorias p {
  margin: 0;
}

div.headers .buscar {
  margin: 0;
}

.buscar input {
  font-family: var(--fuentePrincipal);
  padding: 1em 5em;
  font-size: .7em;
}

.buscar span {

}

div.instructor {
  
}

.instructor span {
  margin-left: .4em;
}

.instructor p {
}

div.cursos {

}

div.cursos p {

}

div.botones {

}

.botones span {
  padding: .3em;
}

section#hero {
}

#hero div#titulos {
  text-align: center;
  font-family: var(--fuentePrincipal);
  font-size: 1.2em;
  margin: 5em;
}

#titulos div.titulos {
}

.titulos p:nth-of-type(1) {
  font-size: 2em;
  margin-bottom: 0;
  color: var(--colorPrimario);
}


.titulos p:nth-of-type(2) {
  font-style: italic;
}


section#hero div.cursos {
  display: flex;
  text-align: center;
}

.cursos .cursitos {
  flex: 1;
}

.cursos div.curso-1 {

}

.curso-1 img {

}

.curso-1 p {

}

div.curso-2 {

}

.curso-2 img {

}

.curso-2 p {

}

div.curso-3 {

}

.curso-3 img {

}

.curso-3 p {

}









.botones span:hover {
  color: var(--colorPrimario);
}

